html {
  font-family: "Helvetica";
}
body	{
  color: #fff;
  background: url(../../assets/images/fr2-barn.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand img {
  max-height: 50px;
}

.fr2-main {
  margin-top: 40px;
}

.classic {
  padding: 30px;
  margin: 60px 0;
  background:rgba(256,256,256,0.9);
  color: #000;
}

.bg-dark {
  background-color: #000000;
}

.music-toggle:hover {
  background: #FFD73B;
}
